<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[`Sample shipping form`]</title>
</head>
<body>
    <h1>[`Sample consignment note`]</h1>

    <h3>[`Address`]</h3>
    <p>
        {$address|print_r}
    </p>

    <h3>[`Order content`]</h3>
    {foreach $items as $item}
    <p>{$item.name|escape} &times; {$item.quantity} {$item.price|wa_format_amount_currency:$currency}</p>
    {foreachelse}
    <p>[`There no content items`]</p>
    {foreach}
</body>
</html>